.music {
    overflow-x: auto;
}

.music__table {
    border-collapse: collapse;
    width: 100%;
}

.music__caption {
    text-align: left;
    font-size: 16px;
}

.music__tableCell {
    border: solid #ffffff;
    padding: 10px;
    text-align: center;
    border-width: 0 2px 2px 0;
    font-weight: normal;
}

.music__tableCell--headerDark {
    background-color: #e19c1e;
}

.music__tableCell--headerBright {
    background-color: #ffbb3e;
}

.musci__tableRow:nth-child(even) {
    background-color: rgba(251, 249, 247, 0.717);
}

.music__tableRow:hover {
    background-color: #9c9b9b5b;
}

.music__tableCell--noBorderDown {
    border-width: 0 2px 0 0;
}

.music__tableCell--noBorderRight {
    border-right: 0;
}